.img-blurry-placeholder {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  transition: filter .2s;
  overflow: hidden;
}
.img-blurry-placeholder.loading {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
